name: Playwright Tests

on:
  workflow_dispatch:
    inputs:
      browser:
        description: "Select browser to run Playwright tests"
        required: true
        default: "chromium"
        type: choice
        options:
          - chromium
          - firefox
          - webkit

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test Amazon.spec.js --project=${{ inputs.browser }} --workers=${{ inputs.workers }}
        continue-on-error: true

      - name: Publish Test Summary Results
        if: always()
        run: npx github-actions-ctrf ctrf/ctrf-report.json     
